body
{
    margin-top: 50px;
    min-height: 500px;
    background: #2B2B2B;
    text-align: center;
    color: #E6E6E6;
}

.errMsg
{
    color: #FF8080;
    font-size: 0.9em;
    text-align: center;
    margin-top: -4px;
}
.loginForm
{
    margin: auto;
    width: 200px;
    text-align: center;
}
.loginInput
{
    color: #3B3B3B;
    height: 30px !important;
    margin-bottom: 11px !important;
    width: 145px !important;

    border-radius: 4px;
}
.submitBtn
{
    width: 145px !important;
    height: 40px !important;
    margin-top: 10px;
    border-radius: 5px; 
}

#signup
{
    width: 210px;
    margin-top: 40px;
    padding: 20px;
}
#logo
{
    width: 450px;
    height: 628px;
    margin-bottom: -202px;
}
#signupImg
{
    width:407px;
    height: 573px;
    margin-top: 28px;
    margin-bottom: -175px;
}
