<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>{% block title %}HS Deck Counter{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static',filename='css/nano.css') }}" />
        {% endblock %}
        {% block script %}
            <script src="http://code.jquery.com/jquery.js"></script>
            <link rel="stylesheet" href="{{ url_for('static',filename='js/nanoscroller.min.js') }}" />
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script>$(".nano").nanoScroller();</script>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
